{% extends "basic_app/base.html"%} {% load static %} {% block body_block %}

<div class="jumbotron">
  {% if registered %}
  <h1>Thanks you for registering</h1>
  {% else %}
  <h1>Register Here</h1>
  <h3>Please fill this form</h3>

  <!-- WE have the enctype for image uplaoding -->
  <form method="post" enctype="multipart/form-data">
    {{ user_form.as_p }} {{ profile_form.as_p }} {% csrf_token %}
    <input type="submit" value="Register Here" class="btn btn-primary" />
  </form>

  {% endif %}
</div>

{% endblock %}
